
header{
	padding-top: 30px;
	width: 100%;
	padding-bottom: 40px;
	margin-bottom: 30px;
	padding-left: 0px;
	background-color: white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}
body{
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	background: url("file:///users/mariasaavedra/desktop/hw1/assets/images/pow-star.png");
	}

h1 {
	text-align: center;
	font-size: 35px;
	color: white;
	background-color: #4aaaa5;
	padding-top: 15px;
	height: 57px;
	max-width: 300px;
	margin-left: 22px;
	margin-right: 0 auto;
	float: left;
	}

.navigation {
	clear: none;
	float: right;
	text-align: right;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 0 auto;
	font-size: 15px;
	background-color: white;

}

#about {
	color: gray;
	text-decoration: none;
	border-right: solid 1px gray;
	padding-right: 15px
}

#portfolio {
	color: gray;
	text-decoration: none;
	border-right: solid 1px gray;
	padding-right: 10px;
	padding-left: 10px;
}

#contact {
	color: gray;
	text-decoration: none;
	padding-left: 10px;
}

.container {
	clear: none;
	width: 610px;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 0 auto;
	margin-bottom: 25px;
	padding-bottom: 30px;
	float: left;

}
#bodytitle {
	font-size: 30px;
	color: #4aaaa5;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom:solid 3px #eee;
	margin-bottom: 10px;
}

#bio-image {
	width: 240px;
	height: 190px;
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}

p {
	margin-top: 20px;
	margin-right: 20px;
}


.connectwrapper {
	text-align: right;
	background-color: white;
	height: 200px;
	padding-left: 25px;
	padding-right: 25px; 
	margin-left: 20px;
	clear: none;
	float: right;
}

#logos {
	width: 70px;
	height: 70px;
	padding-top: 30px;
}

#connect {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	color: #4aaaa5;
	border-bottom:solid 3px #eee;
	
}

#message {
	height: 50px;
}

footer {
	clear: both;
	height: 50px;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-color: #505050;
	border-top:solid 7px #4aaaa5;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*portfolio blocks*/

.portwrapper {
	clear: both;
	margin: 10px;
	float: left;
	}

.port1wrapper {
	clear: none;
	margin: 10px;
	float: right;
	}

#portimage{
	width: 275px;
	height: 225px;
	z-index: -1;

}


#portname {
	background-color: #4aaaa5;
	text-decoration: none;
	color: white;
	height: 25px;
	padding-top: 20px;
	text-align: center;
	position: relative;
	top: -75px;
}


a {
	text-decoration: none;
}
.midsection {
	margin: 0 auto 0 auto;
	width: 960px;
}

